.popup__close-button {
  position: absolute;
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  height: 32px;
  width: 32px;
  background-image: url(../../../images/popup__icon-close.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 900px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}
