.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 0;
  margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
  }
}
