.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  margin: 0 auto;

  max-width: 880px;
}
.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.header__list-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

}

.header__username {
  visibility: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}
.header__username_visible {
  visibility: visible;
  margin-right: 24px;
}

.header__button_notfocus {
  color: #A9A9A9;
}

.header__email {
  margin: 0;
}

.header__button {
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
  outline: none;
  color: #fff;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: calc(100vw - 60px);
  }
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
